:root {
  --primary: #31363F;
  --secondary: #76ABAE;
  --accent: #222831;
  --subtle: #eee;
  --danger: #117c97;
  --subtle-gradient: rgba(238, 238, 238, 0.05);
  --secondary-gradient: rgba(118, 171, 174, 0.2);
  font-family: Verdana, Tahoma, sans-serif;
}

body {
    line-height: 1.5rem;
    background: var(--primary);
    color: var(--subtle);
    margin: 0;
}

#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 625px;
    border-bottom: 1px solid var(--subtle-gradient);
}

#hero ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-top: 30px;
}

li::marker {
    color: var(--secondary);
}

li {
    list-style-position: inside;
}

#hero-left {
    width: 550px;
    margin: 0 30px 10px auto;
    padding: 20px 0;
}

#hero-left h2 {
    color: var(--secondary)
}

#logo {
    width: 50px;
}

#task-flow {
    display: flex;
}

#task-flow p {
    font-size: 20px;
    margin-left: 5px;
    font-weight: bold;
}

#login {
    width: 350px;
    margin: 0 auto 10px 100px;
    background: var(--accent);
    border-radius: 10px;
    padding: 20px 40px;
}

#login p {
    margin: 0;
    margin-top: 20px;
}

#get-started h2 {
    margin-bottom: 0;
}

#get-started p {
    margin-bottom: 35px;
}

.inputs {
  width: inherit;
  box-sizing: border-box;
  padding: 10px;
  margin: 15px 0 0 0;
  border-radius: 10px;
  outline: none;
  background: var(--subtle);
  border: none;
  border: 1px solid var(--accent);
  color: var(--accent);
}

.inputs:focus {
  border-color: var(--secondary-gradient);
  background: var(--secondary-gradient);
  outline: none;
  color: var(--subtle)
}


#submit {
    color: var(--accent);
    background: var(--secondary);
    border: none;
    font-weight: bold;
    width: inherit;
    box-sizing: border-box;
    padding:10px;
    margin: 20px 0 0 0;
    border-radius: 10px;
    transition: ease-in-out 0.15s;
}


.terms {
    margin-top: 0;
    text-align: center;
    font-size: 12px;
}

.terms span {
    color: var(--secondary);
    transition: ease-in-out 0.15s;
}

.terms span:hover {
    cursor: pointer;
    color: var(--danger);
}

#second-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    height: 400px;
    border-bottom: 1px solid var(--subtle-gradient);
}

#second-section h1, #second-section p {
    text-align: center;
}

#cards-section {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards {
    width: 250px;
    height: 150px;
    margin: 20px;
    border-radius: 10px;
    background: var(--accent);
    border: 1px solid var(--secondary-gradient);
    padding: 20px 0 0 20px;
    transition: ease-in-out 0.2s;
}

.cards:hover {
    border-color: var(--secondary);
    transform: translateY(-4px);
    cursor: default;
}

.cards img {
    padding: 8px;
    background: var(--secondary);
    border-radius: 5px;
}

.cards h5 {
    font-size: 16px;
    margin: 0;
    font-weight: 400;
    color: var(--secondary);
}

#second-section .cards p {
    font-size: 12px;
    margin: 5px 0 0 0;
    text-align: left;
    padding-right: 10px;
}

.icons {
    width: 30px;
}

#footer {
    text-align: center;
    padding: 50px;

}

#cta {
    color: var(--subtle);
    background: var(--danger);
    border: none;
    border-radius: 6px;
    padding: 10px 20px;
    margin-top: 10px;
}

button:hover {
    cursor: pointer;
}

#submit:hover {
    color: var(--subtle);
    background: var(--danger);
}

